@media only screen and (width <= 450px) {
  h1{
    font-size: 4rem;
    width: 100%;
  }

  h2{
    font-size: 3.5rem;
    width: 100%;
  }

  h3 {
    font-size: 2rem;
    width: 100%;
  }

  p {
    font-size: 1.4rem;
    letter-spacing: 0.2rem;
    width: 100%;
  }

  body {
    min-width: 450px;
  }

  header {
    padding: 2rem 3rem;
    position: fixed;
    width: 100%;
  }

  main {
    padding: 3rem;
    margin-top: 10rem;
  }

  .nav-bar {
    width: 100%;
  }

  .peerlink {
    width: 11rem;
  }

  .nav-list {
    display: none;
  }

  .mobile-list li {
    font-size: 2.2rem;
    padding: 0.5rem 3rem;
  }

  .mobile-menu {
    display: block;
    cursor: pointer;
  }

  .trigger {
    background-color: #fff;
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
  }

  .mobile-menu.active .trigger:nth-child(2){
    opacity: 0;
  }

  .mobile-menu.active .trigger:nth-child(1){
    transform: translateY(8px) rotate(45deg);
  }

  .mobile-menu.active .trigger:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
  }

  .mobile-list {
    position: absolute;
    left: -400%;
    gap: 0;
    flex-direction: column;
    background-color: #252525;
    transition: 0.3s;
  }

  .mobile-list.active{
    left: 0;
    width: 100%;
    padding-top: 5rem;
    margin-top: 1rem;
    height: 100vh;
  }


  .container1 {
    display: flex;
    flex-direction: column;
  }

  .hero {
    flex-direction: column;
  }

  .hero img {
    width: 40%;
    align-self: center;
    padding: 2rem 0;
  }

  .buttons {
    flex-direction: column;
  }


  .container2 {
    margin-top: 2rem;
    background-image: url('../img/VS.png');
    background-repeat: no-repeat;
    background-position: 50% 76%;
  }

  .content-frame {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
  }

  .peer-network {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-bottom: 2rem;
  }

  .p {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;
  }

  .others {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }

  .o {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
  }

  .circle1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .circle2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .circle3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .small-circle {
    display: flex;
    text-align: center;
    align-items: center;
    border-radius: 50%;
   width: 8.7rem;
   height: 8.7rem;
  }

  .small-circle p {
    font-size: 2.4rem;
  }

  .big-circle p {
    font-size: 2.4rem;
  }

  .big-circle {
    display: flex;
    text-align: center;
    align-items: center;
    border-radius: 50%;
    width: 13.6rem;
    height: 13.6rem;
  }

  .peer-network .big-circle,
  .peer-network .small-circle {
    background-color: #FCBB32;
    box-shadow: 0 0 20px rgb(252 187 50 / 100%);
  }

  .others .big-circle,
  .others .small-circle {
    background-color: #0047AD;
    box-shadow: -6px 4px 15px rgb(18 126 252 / 100%);
  }



  .container3 {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
  }

  .values {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .value-item {
    text-align: center;
    display: flex;
    border-radius: 2.5rem;
    margin-bottom: 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 22.7rem;
    background: rgb(255 255 255);
    background: linear-gradient(0deg, rgb(255 255 255 / 100%) 0%, rgb(139 139 139 / 100%) 0%, rgb(107 107 107 / 100%) 0%, rgb(66 66 66 / 100%) 0%, rgb(37 37 37 / 100%) 100%);
  }

  .value-item p {
    margin-top: 2rem;
  }



  .container4 {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 2rem;
  }

  .steps-section {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
  }

  .peer1 {
    width: 70%;
  }

  .peer1 h3 {
    font-size: 1.6rem;
    margin-bottom: 1rem;
  }

  .peer1 p {
    font-size: 1.2rem;
  }
  
  .step-box1,
  .step-box2,
  .step-box3,
  .step-box4 {
    width: 100%;
    height: 15rem;
    display: flex;
    align-items: center;
    padding: 0 2rem;
    border-radius: 2.5rem;
  }

  .step-box1 {
    background: 
      url('../img/post.png') no-repeat 220px -17px , 
      url('../img/1.png') no-repeat 350px 110px ,
      #393939;
    background-size: 50%, 7%;
  }

  .step-box2 {
    background: 
      url('../img/earn.png') no-repeat 230px -40px , 
      url('../img/2.png') no-repeat 350px 110px ,
      #393939;
    background-size: 50%, 7%;
  }

  .step-box3 {
    background: 
      url('../img/convert.png') no-repeat 240px -40px , 
      url('../img/3.png') no-repeat 350px 110px ,
      #393939;
    background-size: 50%, 7%;
  }

  .step-box4 {
    background: 
      url('../img/cash.png') no-repeat 260px -25px , 
      url('../img/4.png') no-repeat 350px 110px ,
      #393939;
    background-size: 40%, 7%;
  }

  .peertoken {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }

  .step-image {
    width: 70%;
  }

  .container5 {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 2rem;
  }




  .container5 img {
    width: 100%;
  }

  .register img {
    width: 3rem;
    height: 3rem;
  }

  .register {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    border-radius: 2.5rem;
    background-color: #127EFC;
  }

  .register span {
    font-size: 1.5rem;
  }



  .container6 {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 2rem;
  }

  .roadmap {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .roadmap img {
    width: 10rem;
    height: 47rem;
  }

  .r {
    margin-bottom: 1.2rem;
  }

  .r span {
    color: rgb(128 128 128 / 100%);
  }

  footer {
    background-color: #252525; /* Dark grey background */
    color: #fff;
    padding: 0 3rem;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: flex-start;
    font-family: sans-serif;
  }

  .contact-info {
    width: 100%;
  }  

  .contact-section,
  .contact-details {
    margin-bottom: 20px;
  }

  .contact-details {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  .contacts {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
    
  .contact-section h2,
  .contact-details h2 {
    margin-bottom: 20px;
  }
    
  .contact-section input,
  .contact-section textarea {
    width: 100%;
    padding: 1.5rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
    border: none;
    background-color: #fff;
  }

  input::placeholder {
    color: #5aa6ff;
  }

  textarea::placeholder {
    color: #5aa6ff;
  }
    
  .contact-section textarea {
    resize: vertical;
    min-height: 15rem;
  }
    
  .contact-section button {
    background-color: #007bff; /* Blue button */
    color: #fff;
    padding: 1.5rem;
    border: none;
    border-radius: 2.5rem;
    cursor: pointer;
    width: 100%;
  }

  .contact-details img {
    width: 2rem;
  }

  .contact-details span {
    font-size: 1.4rem;
  }
    
  .contact-details a {
    display: flex;
    align-items: center;
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 0;
    gap: 0.5rem;
  }

  .business-hours {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

  }

  .business {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
    
  .business-hours h3 {
    font-size: 1.5rem;
    padding: 0.5rem 0 1rem;
  }

  hr {
    display: none;
  } 
    
  .footer-links {
    justify-content: space-between;
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    width: 100%;
  }
    
  .footer-links a {
    color: #fff;
    text-decoration: none;
    font-size: 1.4rem;
    display: flex;
    padding: 0.5rem 0;
  }   

  .footer-links .active {
    color: #00BEFF;
  }

  .social-icons {
    width: 100%;
    margin: 1rem 0;
    text-align: center;
  }

  .social-icons img {
    width: 2.5rem;
  }
    
  .social-icons a {
    color: #fff;
    margin: 0 0.5rem;
  }
    
  .copyright {
    color: rgb(128 128 128 / 100%);
    width: 100%;
    text-align: center;
    font-size: 1.2rem;

  }

  .logo {
    display: flex;
    flex-direction: column;
  }

  .logo img {
    width: 8rem;
  }

}